PORT = 3000

# LOCAL SECRETS
ORIGINAL_DOMAIN="localhost.com"
MACHINE_ID=01
AUTH_SESSION_NAME="mukhtasar-session"
WEB_URL="http://localhost:3000"
NODE_ENV="development"

# DB SECRETS

DB_PORT=5432

#-------- UPDATE THIS
DB_CONNECTION_STRING="postgres://abdelrahman:abdelrahman@localhost:5432/mukhtasar"
DATABASE_URL="postgres://abdelrahman:abdelrahman@localhost:5432/mukhtasar"
SESSION_DURATION=172800000 # 2 days

# REDIS SECRETS
#-------- UPDATE THIS TO YOUR REDIS CONNECTION CONFIG
REDIS_PASSWORD=""
REDIS_USER_NAME=""
REDIS_HOST=""
REDIS_PORT="14292"

# EMAIL SECRETS
#--------- ONLY REQUIRED FOR EMAIL VERIFICATION SERVICE
SENDGRID_API_KEY=""
EMAIL_VERIFICATION_SECRET_KEY=""

# WORKER SECRETS
#--------- ONLY REQUIRED FOR PRODUCTION (CLOUDFLARE WORKER)
WORKER_SECRET=""